.google_calendar{
	color: red;
}

header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-bottom: 15px;
}


#meteo{
	margin-top: 20px;
	margin-bottom: 8px;
	text-align : center;
	font-style : bold;
}

#actu{
	background-color: white; 
	padding : 5px;
	margin-top: 20px;
	margin-bottom: 8px;
	border-radius: 10px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
	/** background: linear-gradient(141deg, #eee 35%, white 50%, white 0%);  **/
}

#calendrier{
	background-color: white;
	padding : 5px;
	margin-top: 20px;
	margin-bottom: 8px;
	border-radius: 10px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

#event{
	background-color: white;
	padding : 5px;
	margin-top: 20px;
	margin-bottom: 8px;
	border-radius: 10px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);

}

