#contactform{
	margin-top: 12px;
}

#contact_left{
	border : 3px solid grey;
	border-radius: 5px;
	padding : 5px;
}

#contact_right_1{
	border : 3px solid grey;
	border-radius: 5px;
	padding : 5px;
}

#contact_right_2{
border : 3px solid grey;
	border-radius: 5px;
	padding : 5px;
}

#contactform h1 {
    font-size: 40px;
    font-weight: bold;
}

#contactform h3{
	font-weight: bold;
}

.btn-envoyer{
	margin-right: 0 auto;
}