body {
  background-image: url("../images/4lCharles.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}


.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 60px;
  border-top: 1px solid #eee;
}

.nav-justified {
  background-color: white;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  color: black;
}


.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}


header li a:hover:not(.active){
    background-color: #dddddd;
}

header li a.active {
    color: white;
    background-color: #337ab7;
}

header li a.active:hover{
    color: white;
    background-color: #337ab7;
}

a.nom{
  text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@font-face {
  font-family: "Capture it Normal";
  src :url('Capture it.ttf');
}

.nom {
  font-family: "Capture it Normal",arial, sans-serif;
  color: #c40727;
  font-size: 80px;
}

.nom:hover{
  color: black;
}


