#forumnewsujet {
  margin-top: 20px;
}

#retourforum a {
	text-decoration: none;
	color: white;
}

#retourforum {
	display: block;
  border: 1px solid black;
  background-color: #337ab7;
  padding: 5px;
  margin-bottom: 12px;
	border-radius: 5px;
	text-align: center;
}

form {
}
