
#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.logo img {
	border: 0;
	display: block;
	margin-bottom: 15px;
	padding: 0;
}

#header ul li a {
	color: black;	
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}

body{
	background-image: url("../images/img4L.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
}
